 <div class="nav">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
        1
        </div>
        <div class="col-md-2 float-right">
        2
        </div>
      </div>
    </div>
  </div>



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome to Watchlist!</h1>
    </div>

    <div class="col-md-6 float-right">
      <div class="form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <div class="label"><%= f.label :email %><br /></div>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <div class="label"><%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br /></div>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <div class="label"><%= f.label :password_confirmation %><br /></div>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <!-- Change f.text_field to :name -->
          <div class="field">
            <div class="label"><%= f.label :name %><br /></div>
            <%= f.text_field :email, autofocus: true %>
          </div>
          <!-- Change f.text_field to :zip -->
          <div class="field">
            <div class="label"><%= f.label :zip %><br /></div>
            <%= f.text_field :email, autofocus: true %>
          </div>
        <br>
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <br>
          <p>Already an user?<%= render "devise/shared/links" %></p>
        <% end %>

      </div>
    </div>
  </div>
</div>

 

<div class="footer">
THIS IS THE FOOTER
</div>
