<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Movies</h1>

  <table>
    <thead>
      <tr>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
         <td><%= movie.title %></td>
         <td><%= link_to 'Show', user_list_movie_path(@user, @list, movie.id) %></td>
         <td><%= link_to 'Edit', edit_user_list_movie_path(@user, @list, movie.id) %></td>
         <td><%= link_to 'Destroy', user_list_movie_path(@user, @list, movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
       <% end %>
    </tbody>
    </thead>
  </table>

  <br>

<%= link_to 'New Movie', new_user_list_movie_path %>
<%= link_to 'Back to Lists', user_lists_path(@user) %>
