

<div id="list-container" class="container">
  <div class="row">

  <p id="notice"><%= notice %></p>

  <h3 class="list-h3">Movies</h3>

      <% @movies.each do |movie| %>

        <div id="list-container" class="container">
         <div class="row">

         <h1 class="list-h1 col-md-8"><%= link_to movie.title, user_list_movie_path(@user, @list, movie.id) %></h1>

         <button class="btn col-md-1"><%= link_to 'Edit', edit_user_list_movie_path(@user, @list, movie.id) %></button>
         <button class="btn col-md-1"><%= link_to 'Destroy', user_list_movie_path(@user, @list, movie), method: :delete, data: { confirm: 'Are you sure?' } %></button>


          </div>
        </div>

      <% end %>

    <br>

    <button class="btn"><%= link_to 'New Movie', new_user_list_movie_path %></button>
    <button class="btn"><%= link_to 'Back to Lists', user_lists_path(@user) %></button>

  </div>
</div>

