<!DOCTYPE html>
<html>
  <head>
    <title>Flick'd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>

  <body>

<div class="nav">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
        <h1>Flick'd</h1>
        </div>
        <div class="col-md-2 float-right">
        
        <%- if user_signed_in? %>
          <strong><%= link_to('LOGOUT', destroy_user_session_path, :method => :delete, :id=> "logout") %> </strong>
          <% else %>
            <strong><%= link_to 'LOGIN', new_user_session_path, :id=> "login"  %></strong>
        <% end %> 
            
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
      </div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
